

#root {
  
  height: 100vh;
  text-align: center;
  
  
}



.login {
  
  /* display: flex;
  justify-content: center; */

  
 
  padding-top: 15vh;
  
}

@media (min-width: 768px) {
.login {
  display: flex;
  justify-content: center;
}
  
  
}

.link {
  text-decoration: none;
  
  
}

.faq {
  background-color: red;
  
}

.oCard {
  margin-bottom: 20px;
  
}


